<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Book</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="recId" th:content="${recipeId}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
</head>
<script type="text/javascript">
    var app = angular.module("RECIPES", []);
    app.controller("RECIPES_CTRL", function($scope, $http){


    $scope.steps = [];
    $scope.ingridients = [];
    $scope.recipe = null;
    $scope.tagsList = "";

    $scope.csrf = document.querySelector("meta[name='_csrf']").content;
    $scope.recipeId = document.querySelector("meta[name='recId']").content;

    $scope.photo = null;

    $scope.getRecipeInfo = function(){
    $http({
    url: '/get_recipe_info_to_edit',
    method: 'GET',
    params: {
    recipeId: $scope.recipeId
    }
    }).then(function(response){
    $scope.recipe = response.data;
    $scope.getRecipeTags();
    $scope.getSteps();
    $scope.getIngridients();
    });
    }

    $scope.getRecipeTags = function(){
    $http({
    url: '/get_recipe_tags_to_edit',
    method: 'GET',
    params: {
    recipeId: $scope.recipeId
    },
    transformResponse: [
      function(data){
      return data;
      }
      ]
    }).then(function(response){
    $scope.tagsList = response.data;
    });
    }

    $scope.getSteps = function(){
    $http({
    url: '/get_steps_to_edit',
    method: 'GET',
    params: {
    recipeId: $scope.recipeId
    }
    }).then(function(response){
    $scope.steps = response.data;
    });
    }

    $scope.getIngridients = function(){
    $http({
    url: '/get_ingridients_to_edit',
    method: 'GET',
    params: {
    recipeId: $scope.recipeId
    }
    }).then(function(response){
    $scope.ingridients = response.data;
    });
    }

    $scope.getRecipeInfo();

    $scope.titleIngChanged = function(elm){
    $http({
    url: '/change_ing_title',
    method: 'PUT',
    params: {
    idOfIng: elm.id,
    titleOfIng: elm.value
    },
    headers: {
    'X-CSRF-TOKEN': $scope.csrf
    }
    }).then(function(){
    console.log("successful");
    });
    }

    $scope.listIngChanged = function(elm){
    $http({
    url: '/change_ing_list',
    method: 'PUT',
    params: {
    idOfIng: elm.id - 1,
    listOfIng: elm.value
    },
    headers: {
    'X-CSRF-TOKEN': $scope.csrf
    }
    }).then(function(){
    console.log("successful");
    });
    }

    $scope.descriptionStepsChanged = function(elm){
    $http({
    url: '/change_steps_description',
    method: 'PUT',
    params: {
    idOfStep: elm.id,
    descOfStep: elm.value
    },
    headers: {
    'X-CSRF-TOKEN': $scope.csrf
    }
    }).then(function(){
    console.log("successful");
    });
    }

    $scope.recTitleChanged = function(elm){
    $scope.recipe.title = elm.value;
    }

    $scope.recDescriptionChanged = function(elm){
    $scope.recipe.description = elm.value;
    }

    $scope.recCategoryChanged = function(elm){
    $scope.recipe.categoryType = el.value;
    }

    $scope.recTagsChanged = function(elm){
    $scope.tagsList = elm.value;
    }

    $scope.recCookingTimeMinutes = function(elm){
    $scope.recipe.cookingTimeMinutes = elm.value;
    }

    $scope.recPortionsChanged = function(elm){
    $scope.recipe.portions = elm.value;
    }

    $scope.filesChanged = function(elm){
    var fd = new FormData();
    fd.append('file', elm.files[0]);
    $http.post('/add_photo', fd, { transformRequest: angular.identity,
     headers: {'Content-Type': undefined, 'X-CSRF-TOKEN': $scope.csrf},
      transformResponse: [
      function(data){
      return data;
      }
      ]}).then(function(response){
     $scope.editPhoto(response.data);
     });
    }

    $scope.editPhoto = function(photoPath){
    $http({
    url: '/update_image',
    method: 'PUT',
    params: {
    recipeId: $scope.recipeId,
    path: photoPath
    },
    headers: {
    'X-CSRF-TOKEN': $scope.csrf
    }
    }).then(function(){
    console.log("Фото обновлено");
    });
    }

     $scope.editRecipe = function(photoPath){
     $http({
     url: '/edit_recipe',
     method: 'PUT',
     data: $scope.recipe,
     params: {
     tags: $scope.tagsList
     },
     headers: {
     'X-CSRF-TOKEN': $scope.csrf
     }
     }).then(function(){
     console.log("Рецепт обновлен");
     });
     }

    });
</script>
<body ng-app="RECIPES" ng-controller="RECIPES_CTRL">
<header th:insert="blocks/header :: header_recipes"></header>

<div>
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <input onchange="angular.element(this).scope().filesChanged(this)" type="file" accept="image/*">
        <button ng-click="editRecipe()" class="btn btn-primary rounded-pill px-3" type="button">Сохранить</button>
    </div>
    <input value="{{recipe.title}}" onchange="angular.element(this).scope().recTitleChanged(this)" type="text" class="form-control" name="title" placeholder="Название" maxlength="50">
    <input value="{{recipe.description}}" onchange="angular.element(this).scope().recDescriptionChanged(this)" type="text" class="form-control" name="description" placeholder="Краткое описание рецепта(150 символов)" maxlength="150">
    <select value="{{recipe.categoryType}}" onchange="angular.element(this).scope().recCategoryChanged(this)">
        <option value="1">Простые блюда</option>
        <option value="2">Детское</option>
        <option value="3">От шеф-поваров</option>
        <option value="4">На Праздник</option>
    </select>
    <input value="{{tagsList}}" onchange="angular.element(this).scope().recTagsChanged(this)" type="text" class="form-control" name="tags" placeholder="Добавить тэги">
    <div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <input value="{{recipe.cookingTimeMinutes}}" onchange="angular.element(this).scope().recCookingTimeMinutes(this)" type="number" class="form-control" name="time" placeholder="Время готовки">
        <p>Минут</p>
        <input value="{{recipe.portions}}" onchange="angular.element(this).scope().recPortionsChanged(this)" type="number" class="form-control" name="portions" placeholder="Порций в блюде">
        <p>Персон</p>
    </div>
</div>

<div class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <div>
        <h2 class="fs-4">Ингридиенты</h2>
        <div ng-if="ingridients.length != 0" class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="col">
                    <div ng-repeat="ing in ingridients">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <input type="text" class="form-control" name="title" id="{{ing.id}}" value="{{ing.title}}" onchange="angular.element(this).scope().titleIngChanged(this)" placeholder="Заголовок ингридиентов" maxlength="50" required>
                                <input type="text" class="form-control" name="description" id="{{ing.id + 1}}" value="{{ing.listOfIngridients}}" onchange="angular.element(this).scope().listIngChanged(this)" placeholder="Список ингридиентов(500 символов)" maxlength="500" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 class="fs-4">Шаги</h2>
        <div ng-if="steps.length != 0" class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="col">
                    <div ng-repeat="st in steps">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <p>Шаг {{st.number}}</p>
                                <input type="text" class="form-control" name="description" id="{{st.id}}" value="{{st.description}}" onchange="angular.element(this).scope().descriptionStepsChanged(this)" placeholder="Описание шага(500 символов)" maxlength="500" required>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="blocks/footer :: footer"></div>
</body>

</html>