<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>RecipeBook</title>
</head>
<body>
<p th:if="${errorLogin == true}">Пользователь с таким именем уже существует</p>
<p th:if="${errorMissingText == true}">Не все поля заполнены</p>
<form th:action="@{/registration}" method="post">
    <div><label> Логин: <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <div><label> Имя: <input type="text" name="name"/> </label></div>
    <div><label> Почта: <input type="text" name="email"/> </label></div>
    <div><input type="hidden" name="_csrf" th:value="${_csrf.token}"/></div>
    <div><input type="submit" value="Зарегестрироваться"/></div>
</form>
</body>
</html>