<div th:fragment="header_main" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Recipes</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <b><a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a></b>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/recipeslist">Рецепты</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/favourites">Избранное</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/profile">Профиль</a>
        </nav>
    </div>
</div>

<div th:fragment="header_recipes" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Recipes</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
            <b><a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/recipeslist">Рецепты</a></b>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/favourites">Избранное</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/profile">Профиль</a>
        </nav>
    </div>
</div>

<div th:fragment="header_profile" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Recipes</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/recipeslist">Рецепты</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/favourites">Избранное</a>
            <b><a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/profile">Профиль</a></b>
        </nav>
    </div>
</div>

<div th:fragment="header_favourites" xmlns:th="http://www.thymeleaf.org">
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
            <span class="fs-4">Recipes</span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/">Главная</a>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/recipeslist">Рецепты</a>
            <b><a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/favourites">Избранное</a></b>
            <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/profile">Профиль</a>
        </nav>
    </div>
</div>